/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */

